.container.clearfix
  .chat
    .chat-header.clearfix
      img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg', alt='avatar')
      .chat-about
        .chat-with Chat with Martin Bot
      i.fa.fa-star
    // end chat-header
    .chat-history
      ul
        li.clearfix
          .message-data.align-right
            span.message-data-time 10:10 AM, Today
            span.message-data-name Martin
            i.fa.fa-circle.me
          .message.other-message.float-right
            | Hi Vincent, how are you?
          .message-data
            span.message-data-name
              i.fa.fa-circle.online
              |  Vincent
            span.message-data-time 10:12 AM, Today
          .message.my-message
            | Good, thanks!
        li.clearfix
          .message-data.align-right
            span.message-data-time 10:14 AM, Today
            span.message-data-name Martin
            i.fa.fa-circle.me
          .message.other-message.float-right
            | Are you ready to get started?

    // end chat-history
    .chat-message.clearfix
      textarea#message-to-send(name='message-to-send', placeholder='Type your message', rows='3')
      i.fa.fa-file-o
      i.fa.fa-file-image-o
      button Send
    // end chat-message
  // end chat
// end container

div.
  <script id="message-template" type="text/x-handlebars-template">
    <li class="clearfix">
      <div class="message-data align-right">
        <span class="message-data-time" >{{time}}, Today</span> &nbsp; &nbsp;
        <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>
      </div>
      <div class="message other-message float-right">
        {{messageOutput}}
      </div>
    </li>
  </script>

  <script id="message-response-template" type="text/x-handlebars-template">
    <li>
      <div class="message-data">
        <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
        <span class="message-data-time">{{time}}, Today</span>
      </div>
      <div class="message my-message">
        {{response}}
      </div>
    </li>
  </script>